@page
@model ConstructWedDb.Pages.Brigades.EditModel

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<h4>Бригада</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Brigade.ID" />
            <div class="form-group">
                <label asp-for="Brigade.Staff1ID" class="control-label">Сотрудник 1</label>
                <select asp-for="Brigade.Staff1ID" class="form-control" asp-items="ViewBag.Staff1ID"></select>
                <span asp-validation-for="Brigade.Staff1ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brigade.Staff2ID" class="control-label">Сотрудник 2</label>
                <select asp-for="Brigade.Staff2ID" class="form-control" asp-items="ViewBag.Staff2ID"></select>
                <span asp-validation-for="Brigade.Staff2ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brigade.Staff3ID" class="control-label">Сотрудник 3</label>
                <select asp-for="Brigade.Staff3ID" class="form-control" asp-items="ViewBag.Staff3ID"></select>
                <span asp-validation-for="Brigade.Staff3ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
