<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - База данных строительной компании</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">База данных строительной компании</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                сотрудники
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Staffs/Index">Сотрудники</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Positions/Index">Должности</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Brigades/Index">Бригады</a>
                                </li>
                            </div>
                        </div>


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/TypeOfJobs/Index">Виды работ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Materials/Index">Материалы</a>
                        </li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                заказы
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Customers/Index">Заказчики</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Orders/Index">Заказы</a>
                                </li>
                            </div>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/FilReq/Index">Фильтры и Запросы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - База данных строительной компании
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
