@page
@model ConstructWedDb.Pages.FilReq.Filter.FilterPositionModel
@{
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Сотрудник</th>
            <th scope="col">Должность</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Staff)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.FullName)</td>
                <td>@Model.Position.Name</td>
            </tr>
        }

    </tbody>
</table>
