@page
@model ConstructWedDb.Pages.TypeOfJobs.EditModel

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<h4>Вид работы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TypeOfJob.ID" />
            <div class="form-group">
                <label asp-for="TypeOfJob.Name" class="control-label"></label>
                <input asp-for="TypeOfJob.Name" class="form-control" />
                <span asp-validation-for="TypeOfJob.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfJob.Description" class="control-label"></label>
                <input asp-for="TypeOfJob.Description" class="form-control" />
                <span asp-validation-for="TypeOfJob.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfJob.Price" class="control-label"></label>
                <input asp-for="TypeOfJob.Price" class="form-control" />
                <span asp-validation-for="TypeOfJob.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfJob.Material1ID" class="control-label">Материал 1</label>
                <select asp-for="TypeOfJob.Material1ID" class="form-control" asp-items="ViewBag.Material1ID"></select>
                <span asp-validation-for="TypeOfJob.Material1ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfJob.Material2ID" class="control-label">Материал 2</label>
                <select asp-for="TypeOfJob.Material2ID" class="form-control" asp-items="ViewBag.Material2ID"></select>
                <span asp-validation-for="TypeOfJob.Material2ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfJob.Material3ID" class="control-label">Материал 3</label>
                <select asp-for="TypeOfJob.Material3ID" class="form-control" asp-items="ViewBag.Material3ID"></select>
                <span asp-validation-for="TypeOfJob.Material3ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
